fastapi
uvicorn[standard]
pydantic
pydantic-settings
sqlalchemy
asyncpg
geoalchemy2
alembic
psycopg2-binary
ultralytics
easyocr
opencv-python
aiokafka
redis
valkey
PyJWT
passlib[bcrypt]
python-multipart
python-dotenv
